<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap" rel="stylesheet">
<!-- Distill can load KaTeX -->
<!-- <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/katex@0.10.0-beta/dist/katex.min.css" integrity="sha384-9tPv11A+glH/on/wEu99NVwDPwkMQESOocs/ZGXPoIiLE8MU/qkqUcZ3zzL+6DuH" crossorigin="anonymous"> -->


<style>
/* Change appearance of headers */
h1, h2, h3, h4, h5 {
font-family: 'Roboto Mono', monospace;
font-weight: 700;
  color: color: #383838;
}


/* Import fonts from Google's API */
@import url('https://fonts.googleapis.com/css2?family=Lato');
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono');
USE THOSE FONTS THROUGHOUT

/* Use specific font in the body of the text */
html, body, p {

  font-family: 'Roboto Mono', monospace;
  font-weight: 200;
  line-height: 1.3;
  font-size: 1.0em;
  color: #333333;
  font-style: normal;

}

d-code pre code {
  font-family: 'Anonymous Pro', monospace;
}
</style>
